.myContainer {
	display: flex;
	justify-content: space-between;
}




/*dark blue, coral, teal, grey*/
/*Hex: 0C4A60 / EF6C33 / ABDFF1 / E1DDDB*/



.navbar {
	background-color: #0C4A60;
	
}

.nav-link {
	color: #ABDFF1;
}

#my-name {
	color: #EF6C33;
}

.active {
	color: #EF6C33;
}

body {
	background-color: #E1DDDB;
}